@import "_generalstyle";
// @use doesn't work for generalstyle

#footercontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-image: url(/media/Footer.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    .logofooter{
        height: 50px;
    }
    div{
        color: white;
    }
    nav{
        list-style: none;
        color: black;   
    }
    a{
        color: black;
    }
    img{
        height: $main-spacing;
    }
    li{
        list-style: none;
        color: black;
    }
    h2{
        color: yellow;
    }
    .pfooter{
        font-size: 1.3rem;
        display: grid;
        justify-items: start;
        color: black
    }
    #phonetab{
        color: black;
    }
}



