*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    // background-color: rgb(108, 106, 106);
    background-color: white;
    
}

#headcontainer{
    height: 20vh;
    width: 100vw;
    color: white;
    // background-color: white;
    background-image: url(/media/header.webp);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    background-size: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    
    
    
    // margin-top: -20px;
    
}

.links{
    color: white;
}

#menubutton{
    height: 10vh;
    top: 10px;
    user-select: none;
    justify-self: end;
    margin-right: 25px;
}

.logo{
    
    height: 15vh;
    justify-self: end;
    align-self: end;
}

.hambutton{
    height: 20vh;
    width: 10vw;
    justify-items: center;
}

.phone{
    color: white;
    text-decoration: none;
    list-style: none;
    align-self: start;
    justify-self: start;
}

li{
    list-style: none;
    margin-top: 10px;
}


#dropdown{
    display: none;
    position: absolute;
    min-width: 50vw;
    min-height: 30vh;
    padding: 15px 40px;
    background-color: rgba(0, 0, 0, .9);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    border-radius: 15px;
    left: 50%;
    list-style: none;
    font-size: 2rem;
    text-decoration-style: none;        

}

#menubutton:focus-within{
    pointer-events: none;
}

#menubutton:focus-within #dropdown{
    display: block;
    pointer-events: all;
}

// #home{
//     text-align: center;
//     color: white;
//     font-size: 2rem;
//     text-shadow: 3px 3px red;
//     height: 40vh;
//     // width: 100vw;
//     background-image: url(/media/background.avif);
//     box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
//     background-size: 100vw;
//     // display: grid;
//     // grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
// }
