@keyframes myCoolAnimation {
    0%{
        width: 400px;
        background-image: url(/media/pizza1.avif);
    }
    25%{
        width: 300px;
        background-image: url(/media/pizza2.avif);
    }
    50%{
        width: 200px;
        background-image: url(/media/pizza3.avif);
    }
    75%{
        width: 300px;
        background-image: url(/media/pizza4.avif);
    }
    100%{
        width: 400px;
        background-image: url(/media/pasta1.jpeg);
    }
}

#menubutton >#dropdown{
    animation: myCoolAnimation 30s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    background-color: white;
    
}

#headcontainer{
    height: 20vh;
    width: 100vw;
    color: white;
    background-image: url(/media/header.webp);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    background-size: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
}

.links{
    color: white;
}

#menubutton{
    height: 10vh;
    top: 10px;
    user-select: none;
    justify-self: end;
    margin-right: 25px;
}

.logo{
    
    height: 15vh;
    justify-self: end;
    align-self: end;
}

.hambutton{
    height: 20vh;
    width: 10vw;
    justify-items: center;
}

.phone{
    color: white;
    text-decoration: none;
    list-style: none;
    align-self: start;
    justify-self: start;
}

li{
    list-style: none;
    margin-top: 10px;
}

#dropdown{
    display: none;
    position: absolute;
    justify-items: end;
    min-width: 50vw;
    min-height: 30vh;
    padding: 15px 40px;
    background-image: url(/media/pizza6.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    border-radius: 15px;
    left: 0%;
    list-style: none;
    font-size: 2rem;
    text-decoration-style: none;        
    line-height: 50px;
}

#dropdown2{
    display: grid;
    justify-items: end;
}

#menubutton:focus-within{
    pointer-events: none;
}

#menubutton:focus-within #dropdown{
    display: block;
    pointer-events: all;
}

