@use "_headerstyle";
@use "_footerstyle";
@import "_generalstyle";
// @use doesn't work for generalstyle

#desktopheader{
    display: none;
}

#desktopsection{
    display: none;
}

#desktopp1{
    display: none;
}

#desktopp2{
    display: none;
}

#contactmain{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: white;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 30px;
    background-image: url(/media/tablecloth2.gif);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    margin-top: 100px;
    margin: 0px 80px;
    border-radius: 10px;
    #familyphoto{
        height: 80%;
        width: 50%;
        border-radius: 10px;
        object-fit: cover;
    }
}

#mobilep{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
    color: $main-color;
    text-align: center;
    line-height: 1.6em;
}

#contactpage{
    text-align: center;
    font-size: 2rem;
}

#contactmain2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 30px;
    background-image: url(/media/tablecloth2.gif);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    margin-top: 150px;
    margin: 0px 80px;
    border-radius: 10px;
    
    .familyphoto2{
        height: 80%;
        width: 50%;
        border-radius: 10px;
        object-fit: cover;
    }
}

iframe{
    width: 100vw;
    height: 30vh;
}

#phonetab{
    display: none;
}



@media only screen and(min-width: 700px){
    .hambutton{
        display: none;
    }

    .phone{
        pointer-events: none;
    }
    // changed my hamburger button to actual text
    #desktopheader{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        text-align: center;
        align-self: center;
        a{
            text-decoration: none;
            font-size: 1.5rem;
            margin-left: 10px;
        }
    }
    
    .links{
        color: white;
    }
    
    #phonemobile{
        display: none;
    }
    
    #phonetab{
        display: initial
    }
}




@media only screen and(min-width: 1050px){
    .logo{
        display: none;
    }
    
    .phone{
        display: none;
    }

    #headcontainer{
        grid-template-columns: 1fr 1fr 1fr;
        height: 15vh;
        .links{
            justify-self: center;
            color: white
        }
        .links:hover{
            font-size: 3rem;
            color: red;
        }
    }
    
    #desktopsection{
        display: grid;
        justify-items: center;
        background-image: url(/media/belowheader.avif);
        box-shadow: inset 0 0 0 1000px rgba(36, 31, 31, 0.3);
        background-size: 100%;
        padding-bottom: 50px;
        color: white;
        font-size: 1.5em;
        a:link{
            text-decoration: none;
            font-size: 1.5em;
            color: white;
        }
        a:visited{
            color: red;
        }
        a:hover{
            font-size: 3rem;
            color: red;
        }
    }
    
    #desktoppizzalogo{
        display: initial;
        height: 20vh;
        padding-top: 130px;
        padding-bottom: $main-spacing;
    }
    
    .hambutton{
        display: none;
    }

    #desktopheader{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        text-align: center;
        align-self: center;
        a{
            text-decoration: none;
            font-size: 2rem;
        }
    }

    #mobilep{
        display: none;
    }

    #desktopp1{
        display: initial;
        font-family: 'Kanit', sans-serif;
        font-size: 1.6em;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 1.6em;
        padding: 20px 20px;
    }
    
    #desktopp2{
        display: initial;
        font-family: 'Kanit', sans-serif;
        font-size: 1.6em;
        color: yellow;
        font-weight: bold;
        text-align: center;
        line-height: 1.6em;
        padding: 20px 20px;
    }
    
    #footercontainer{
        display: grid;
        grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr;
        // added 0fr to hide the pizza logo
        font-weight: bold;
    }
    
    .logofooter{
        display: none;
    }
    
    #phonemobile{
        display: none;
    }
    
    #phonetab{
        display: initial
    }
}
    
