@use "_headerstyle";
@use "_footerstyle";


#h1header{
    display: grid;
    justify-items: center;
 
    text-align: center;
    color: black;
  }

#pizzasection{
    text-align: center;
}

#pizzamenu{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/media/pizzamenu.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    height: 50vh;
    width: 100vw;
    color: whitesmoke;
    font-size: 2rem;
}

#appetizersection{
    text-align: center;
}

#appetizermenu{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/media/appetizer.avif);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    height: 50vh;
    width: 100vw;
    color: whitesmoke;
    font-size: 2rem;
}

#pastasection{
    text-align: center;
}

#pastamenu{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/media/pastamenu.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    height: 50vh;
    width: 100vw;
    color: whitesmoke;
    font-size: 2rem;
}

#dessertsection{
    text-align: center;
}

#dessertmenu{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/media/dessertmenu.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    height: 50vh;
    width: 100vw;
    color: whitesmoke;
    font-size: 2rem;
}