* {
  margin: 1px;
  padding: 0;
}

html {
  background-color: lightgray;
}

#headcontainer {
  height: 40vh;
  width: 100vw;
  color: white;
  background-image: url(/media/background.avif);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  background-size: 100vw;
  display: grid;
  grid-template-columns: 0.1fr 0.4fr 1fr;
  justify-items: end;
  align-content: start;
  box-sizing: border-box;
}

#menubutton {
  height: 10vh;
  top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo {
  height: 20vh;
}

.hambutton {
  height: 10vh;
  width: 10vw;
}

a {
  color: white;
  text-decoration: none;
  list-style: none;
}

li {
  list-style: none;
  margin-top: 10px;
}

#dropdown {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  width: 50vw;
  height: 40vh;
  text-align: center;
  padding: 30px;
  list-style: none;
  font-size: 2rem;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

#menubutton:focus-within {
  pointer-events: none;
}

#menubutton:focus-within #dropdown {
  display: block;
  pointer-events: all;
}

#footercontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: gray;
}
#footercontainer .logofooter {
  height: 50px;
}
#footercontainer div {
  color: white;
}
#footercontainer nav {
  list-style: none;
  color: white;
}
#footercontainer a {
  color: white;
}
#footercontainer img {
  height: 20px;
}
#footercontainer li {
  list-style: none;
}
#footercontainer h2 {
  color: black;
}
#footercontainer .pfooter {
  font-size: 1rem;
  display: grid;
  justify-items: start;
}

#h1header {
  display: grid;
  justify-items: center;
  text-align: center;
  color: black;
}

#pizzasection {
  text-align: center;
}

#pizzamenu {
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: url(/media/pizzamenu.jpeg);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  height: 50vh;
  width: 100vw;
  color: whitesmoke;
  font-size: 2rem;
}

#appetizersection {
  text-align: center;
}

#appetizermenu {
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: url(/media/appetizer.avif);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  height: 50vh;
  width: 100vw;
  color: whitesmoke;
  font-size: 2rem;
}

#pastasection {
  text-align: center;
}

#pastamenu {
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: url(/media/pastamenu.jpeg);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  height: 50vh;
  width: 100vw;
  color: whitesmoke;
  font-size: 2rem;
}

#dessertsection {
  text-align: center;
}

#dessertmenu {
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: url(/media/dessertmenu.jpeg);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  height: 50vh;
  width: 100vw;
  color: whitesmoke;
  font-size: 2rem;
}/*# sourceMappingURL=menustyle.css.map */