@use "_headerstyle";
@use "_footerstyle";
@import "_generalstyle";
// @use doesn't work for generalstyle

#desktopheader{
    display: none;
}

#desktopsection{
    display: none;
}

h3{
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
    font-size: $main-spacing;
    margin-top: $main-spacing;
    margin-bottom: 10px;
    color: gray
}

p{
    font-family: 'Nunito',Helvetica,Arial,Lucida,sans-serif;
    line-height: 1.6em;
    color: $main-color;
}


#h1header{
    display: grid;
    justify-items: center;
    text-align: center;
}

#pizzasection{
    text-align: center;
}

#pizzamenu{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/media/pizzamenu.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    height: 50vh;
    width: 100vw;
    color: whitesmoke;
    font-size: 1.5rem;
    padding-top: 50px;
    text-shadow: 3px 3px red;
    text-align: center;
}

#appetizersection{
    text-align: center;
}

#appetizermenu{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/media/appetizer.avif);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    background-size: 100%;
    height: 50vh;
    width: 100vw;
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: 3px 3px red;
}

#pastasection{
    text-align: center;
}

#pastamenu{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/media/pastamenu.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    height: 50vh;
    width: 100vw;
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: 3px 3px red;
}

#dessertsection{
    text-align: center;
}

#dessertmenu{
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(/media/dessertmenu.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    height: 50vh;
    width: 100vw;
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: 3px 3px red;
}

#phonetab{
    display: none;
}

@media only screen and(min-width: 700px){
    .hambutton{
        display: none;
    }

    .phone{
        pointer-events: none;
    }
    // changed my hamburger button to actual text
    #desktopheader{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        text-align: center;
        align-self: center;
        a{
            text-decoration: none;
            font-size: 1.5rem;
            margin-left: 10px;
        }
    }
    
    #pizzamenu{
        background-size: 100%;
    }
    
    #pizzasection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #appetizersection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #pastamenu{
        background-size: 100%;
    }
    
    #pastasection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #dessertmenu{
        background-size: 100%;
    }
    
    .links{
        color: white;
    }
    
    #phonemobile{
        display: none;
    }
    
    #phonetab{
        display: initial
    }
}

@media only screen and(min-width: 1050px){
    .logo{
        display: none;
    }
    
    .phone{
        display: none;
        pointer-events: none;
    }
    
    #headcontainer{
        grid-template-columns: 1fr 1fr 1fr;
        height: 15vh;
        .links{
            justify-self: center;
            color: white
        }
        .links:hover{
            font-size: 3rem;
            color: red;
        }
    }
    
    #desktopsection{
        display: grid;
        justify-items: center;
        background-image: url(/media/belowheader.avif);
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
        background-size: 100%;
        padding-bottom: 50px;
        color: white;
        font-size: 1.5em;
        a:link{
            text-decoration: none;
            font-size: 1.5em;
            color: white;
        }
        a:visited{
            color: red;
        }
        a:hover{
            font-size: 3rem;
            color: red;
        }
    }
    
    #desktoppizzalogo{
        display: initial;
        height: 20vh;
        padding-top: 130px;
        padding-bottom: $main-spacing;
    }
    
    #pizzamenu{
        background-size: 100%;
    }
    
    #pizzasection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #appetizermenu{
        margin-top: $main-spacing;
    }
    
    #appetizersection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #pastamenu{
        background-size: 100%;
        margin-top: $main-spacing;
    }
    
    #pastasection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #dessertmenu{
        background-size: 100%;
        margin-top: $main-spacing;
    }
    
    #dessertsection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .hambutton{
        display: none;
    }
    
    #desktopheader{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        text-align: center;
        align-self: center;
        a{
            text-decoration: none;
            font-size: 2rem;
        }
    }
    
    #footercontainer{
        display: grid;
        grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr;
        // added 0fr to hide the pizza logo
        margin-top: $main-spacing;
    }
    
    .logofooter{
        display: none;
    }
    
    #phonemobile{
        display: none;
    }
    
    #phonetab{
        display: initial
    }
}
    
