* {
  margin: 0;
  padding: 0;
}

html {
  background-color: lightgray;
}

#headcontainer {
  height: 20vh;
  width: 100vw;
  color: white;
  background-color: white;
  background-size: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
}

#menubutton {
  height: 10vh;
  top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  justify-self: end;
  margin-right: 25px;
}

.logo {
  height: 15vh;
  justify-self: end;
  align-self: end;
}

.hambutton {
  height: 20vh;
  width: 10vw;
  justify-items: center;
}

.phone {
  color: red;
  text-decoration: none;
  list-style: none;
  align-self: start;
  justify-self: start;
}

li {
  list-style: none;
  margin-top: 10px;
}

#dropdown {
  display: none;
  position: absolute;
  min-width: 50vw;
  min-height: 30vh;
  padding: 15px 40px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  left: 50%;
  list-style: none;
  font-size: 2rem;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

#menubutton:focus-within {
  pointer-events: none;
}

#menubutton:focus-within #dropdown {
  display: block;
  pointer-events: all;
}

#footercontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: gray;
}
#footercontainer .logofooter {
  height: 50px;
}
#footercontainer div {
  color: white;
}
#footercontainer nav {
  list-style: none;
  color: white;
}
#footercontainer a {
  color: white;
}
#footercontainer img {
  height: 20px;
}
#footercontainer li {
  list-style: none;
}
#footercontainer h2 {
  color: black;
}
#footercontainer .pfooter {
  font-size: 1rem;
  display: grid;
  justify-items: start;
}

#desktopheader {
  display: none;
}

#desktoppizzalogo {
  display: none;
}

#homebody {
  display: grid;
  text-align: center;
  padding-top: 150px;
}
#homebody img {
  width: 100vw;
  height: 50vh;
}
#homebody iframe {
  width: 100vw;
  height: 50vh;
}
#homebody p {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#homebody h2 {
  font-size: 2rem;
  text-shadow: 3px 3px gray;
}

@media only screen and (min-width: 1050px) {
  .logo {
    display: none;
  }
  .phone {
    display: none;
  }
  #headcontainer {
    grid-template-columns: 1fr 1fr 1fr;
    height: 15vh;
  }
  #headcontainer .links {
    justify-self: center;
    color: gray;
  }
  #headcontainer .links:hover {
    font-size: 3rem;
    color: red;
  }
  #desktopsection {
    display: grid;
    justify-items: center;
    background-image: url(/media/restaurant9.webp);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    background-size: 100%;
    padding-bottom: 50px;
    color: white;
    font-size: 1.5em;
  }
  #desktopsection a:link {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
  }
  #desktopsection a:visited {
    color: red;
  }
  #desktopsection a:hover {
    font-size: 3rem;
    color: red;
  }
  #desktoppizzalogo {
    display: initial;
    height: 20vh;
    padding-top: 130px;
    padding-bottom: 20px;
  }
  #homebody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding-top: 30px;
  }
  #homebody img {
    width: 34vw;
    height: 64vh;
  }
  #homebody iframe {
    width: 34vw;
    height: 64vh;
    padding-top: 10px;
  }
  .maincontainer {
    text-align: center;
    color: white;
    padding: 20px;
    line-height: 2em;
  }
  .hambutton {
    display: none;
  }
  #desktopheader {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    text-align: center;
    align-self: center;
  }
  #desktopheader a {
    text-decoration: none;
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */