@use "headerstyle";
@use "footerstyle";
@import "_generalstyle";
// @use doesn't work for generalstyle


#desktopheader{
    display: none;
}

#desktoppizzalogo{
    display: none;
}

#homebody{
    display: grid;
    text-align: center;
    padding-top: 80px;
    color: $main-color;
    img{
        width: 100vw;
        height: 50vh;
        border-radius: 30px;
    }
    iframe{
        width: 100vw;
        height: 50vh;
        border-radius: 30px;
        
    }
    p{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h2{
        font-size: 2rem;
        text-shadow: 3px 3px whitesmoke;
    }
}

#phonetab{
    display: none;
}

#footercontainer{
    margin-top: 10px;
}

@media only screen and(min-width: 700px){
    .hambutton{
        display: none;
    }
    // changed my hamburger button to actual text
    #desktopheader{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        text-align: center;
        align-self: center;
        a{
            text-decoration: none;
            font-size: 1.5rem;
            margin-left: 10px;
        }
    }

    .phone{
        pointer-events: none;
    }

    .links{
        color: white;
    }

    #phonemobile{
        display: none;
    }

    #phonetab{
        display: initial
    }
}
    
@media only screen and(min-width: 1050px){
    .logo{
        display: none;
    }
    
    .phone{
        display: none;
        pointer-events: none;
    }

    #headcontainer{
        grid-template-columns: 1fr 1fr 1fr;
        height: 15vh;
        .links{
            justify-self: center;
            color: white;
        }
        .links:hover{
            font-size: 3rem;
            color: red;
        }
    }

    #desktopsection{
        display: grid;
        justify-items: center;
        background-image: url(/media/belowheader.avif);
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
        background-size: 100%;
        padding-bottom: 50px;
        color: white;
        font-size: 1.5em;
        a:link{
            text-decoration: none;
            font-size: 1.5em;
            color: white;
        }
        a:visited{
            color: red;
        }
        a:hover{
            font-size: 3rem;
            color: red;
        }
    }

    #desktoppizzalogo{
        display: initial;
        height: 20vh;
        padding-top: 130px;
        padding-bottom: $main-spacing;
    }

    #homebody{
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
        img{
            width: 34vw;
            height: 64vh;
        }
        iframe{
            width: 34vw;
            height: 64vh;
            padding-top: 10px;
        }
    }

    .maincontainer{
        text-align: center;
        color: $main-color;
        padding: $main-spacing;
        line-height: 2em;
    }
        
    .hambutton{
        display: none;
    }
    
    #desktopheader{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        text-align: center;
        align-self: center;
        a{
            text-decoration: none;
            font-size: 2rem;
        }
    }
        
    #footercontainer{
        display: grid;
        grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr;
        // added 0fr to hide the pizza logo
        margin-top: 10px;
    }
        
    .logofooter{
        display: none;
    }
    
    #phonemobile{
        display: none;
    }
    
    #phonetab{
        display: initial
    }
}